---
import { site } from '../data/site';
---
<div>
  <a href={site.links.github}>GitHub</a>
  |
  <a href={site.links.twitter}>X</a>
  |
  <a rel="me" href={site.links.mastodon}>Mastodon</a>
  |
  <a rel="me" href={site.links.bluesky}>Bluesky</a>
  |
  <a href={site.links.linkedin}>LinkedIn</a>
</div>
